.categories-container {
  width: max-content;
}

.categories-item {
  display: inline-flex;
  padding: 5px 6px;
  color: #1f2227;
  cursor: pointer;
  margin-right: 6px;
  border-radius: 3px;
}

.categories-item__title {
  font-size: 1.2rem;
}

.categories-item:nth-child(6n + 1) {
  background-color: lightblue;
}

.categories-item:nth-child(6n + 2) {
  background-color: lightgreen;
}

.categories-item:nth-child(6n + 3) {
  background-color: orange;
}

.categories-item:nth-child(6n + 4) {
  background-color: yellow;
}

.categories-item:nth-child(6n + 5) {
  background-color: violet;
  color: black;
}

.categories-item:nth-child(6n + 6) {
  background-color: red;
  color: white;
}