/* .categories-container {
  width: max-content;
} */

.categories-item {
  display: inline-flex;
  padding: 5px 6px;
  color: #1f2227;
  cursor: pointer;
  margin-right: 6px;
  border-radius: 3px;
}

.categories-item__title {
  font-size: 1.2rem;
}

.slick-slide:nth-child(6n + 1) .categories-item {
  background-color: lightblue;
}

.slick-slide:nth-child(6n + 2) .categories-item {
  background-color: lightgreen;
}

.slick-slide:nth-child(6n + 3) .categories-item {
  background-color: orange;
}

.slick-slide:nth-child(6n + 4) .categories-item {
  background-color: yellow;
}

.slick-slide:nth-child(6n + 5) .categories-item {
  background-color: violet;
  color: black;
}

.slick-slide:nth-child(6n + 6) .categories-item {
  background-color: red;
  color: white;
}