.categories-item {
  display: flex;
  padding: 5px 20px;
}

.categories-item__title {
  font-size: 1rem;
  color: #ff00ff;
  cursor: pointer;
}

.categories-item__title:hover {
  cursor: pointer;
  text-decoration: underline 1px #ff00ff;
}

.categories-container {
  position: fixed;
  margin: 50px 0;
  width: 15%;
  height: 100vh;
}

@media screen and (max-width: 1040px) {
  .categories-container {
    display: none;
  }
}