.gif-list-container {
  margin: 50px 16px 0 auto;
  width: 75%;
  min-height: 100vh;
}

.gif-container {
  padding: 5px 5px;
}

.gif-content {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(
      250px,
      1fr
    )
  );
  gap: 16px;
}

.gif {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  background-color: #1f2227;
  height: auto;
  width: 100%;
  transition: transform .2s ease;
}

.gif-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.gif-title {
  display: inline-block;
  font-size: 1rem;
  padding: 2px 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.gif:hover {
  transform: scale(1.03);
}

@media screen and (max-width: 600px) {
  .gif-list-container {
    width: 100%;
    margin-left: 16px;
  }
}