.App {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  background: fixed;
  background-color: #000;
  /* opacity: 0.8; */
  background-image: linear-gradient(30deg, #800080 12%, transparent 12.5%, transparent 87%, #800080 87.5%, #800080), linear-gradient(150deg, #800080 12%, transparent 12.5%, transparent 87%, #800080 87.5%, #800080), linear-gradient(30deg, #800080 12%, transparent 12.5%, transparent 87%, #800080 87.5%, #800080), linear-gradient(150deg, #800080 12%, transparent 12.5%, transparent 87%, #800080 87.5%, #800080), linear-gradient(60deg, #80008077 25%, transparent 25.5%, transparent 75%, #80008077 75%, #80008077), linear-gradient(60deg, #80008077 25%, transparent 25.5%, transparent 75%, #80008077 75%, #80008077);
  background-size: 20px 35px;
  background-position: 0 0, 0 0, 10px 18px, 10px 18px, 0 0, 10px 18px;
}

.App-content {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 95%;
}