@font-face {
  font-family: Poppins;
  src: url(./Fonts/Poppins/Poppins-Regular.ttf);
}

.App {
  display: flex;
  justify-content: center;
  text-align: center;
  background: fixed;
  background-color: #000;
  /* opacity: 0.8; */
  background-image: linear-gradient(30deg, #800080 12%, transparent 12.5%, transparent 87%, #800080 87.5%, #800080), linear-gradient(150deg, #800080 12%, transparent 12.5%, transparent 87%, #800080 87.5%, #800080), linear-gradient(30deg, #800080 12%, transparent 12.5%, transparent 87%, #800080 87.5%, #800080), linear-gradient(150deg, #800080 12%, transparent 12.5%, transparent 87%, #800080 87.5%, #800080), linear-gradient(60deg, #80008077 25%, transparent 25.5%, transparent 75%, #80008077 75%, #80008077), linear-gradient(60deg, #80008077 25%, transparent 25.5%, transparent 75%, #80008077 75%, #80008077);
  background-size: 20px 35px;
  background-position: 0 0, 0 0, 10px 18px, 10px 18px, 0 0, 10px 18px;
}

.App-content {
  display: flex;
  flex-direction: column;
  background-color: #1B0021;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
}

.app-item {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  align-items: center;
}

.app-categories__container {
  position: sticky;
  top: 50px;
  z-index: 1;
  width: 100%;
  background-color: #1B0021;
}

.app-categorie {
  margin: 0 auto;
  padding: 6px;
  width: 97%;
  /* overflow: hidden; */
}

.logo-name {
  font-size: 3.5rem;
  font-family: Poppins;
}

.navbar-container {
  display: flex;
  justify-content: flex-end;
}

.navbar-items {
  display: flex;
  gap: 16px;
  margin-right: 30px;
}

.navbar__item {
  color: white;
  text-decoration: none;
}

.navbar__item:hover:nth-child(2n + 1) {
  color: lightblue;
}

.navbar__item:hover:nth-child(2n + 2) {
  color: lightgreen;
}